@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center">

    <form method="post" action="Home/Search">
        <input type="text" size="50" placeholder="Search for product..." name="message">
        <input type="submit" class="fa fa-search" />
    </form>
    
</div>