@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 welcome-title">Welcome to the best sport shop</h1>
    <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/d1qnvK3ID_w?autoplay=1&mute=1&start=9"></iframe>
</div>
<div class="text-center">
    <a class="button" type="button" href="Products">START BUYING</a>
</div>