@{
    ViewBag.Title = "Login";
}
<div class="container login">

    <div class="intro">
        <h2>Hello</h2>
        <h4>Sign in to Sports shop or <a href="/Register">create an account</a></h4>
    </div>
    @if (ViewBag.Message != "" && ViewBag.Message != null)
    {
        <h6 class="invalid-login">@ViewBag.Message</h6>
    }

    <form action="/Login/Index" method="post" class="login-details">
        <div class="form-group input-group-lg">
            <label for="userName">Enter your user name</label>
            <input type="text" id="userName" name="userName" placeholder="User Name" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="form-group input-group-lg">
            <label for="password">Enter your password</label>
            <input type="password" id="password" name="password" placeholder="Password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group input-group-lg">
            <button type="submit" name="submit" class="form-control login-button btn btn-outline-primary">
                Login
            </button>
        </div>
    </form>
</div>