.catalog img {
    height: 320px;
}

.catalog .product-video {
    color: darkred;
    margin: 5px;
}
.recommended-title {
    text-align: center;
    color: orange;
    font-weight: bold;
}

.recommanded {
    border: 6px solid orange;
}

.catalog #shopping-cart {
    position: fixed;
    border-radius: 50%;
    left: 10px;
    bottom: 10px;
    z-index: 100;
}