
@{
    ViewData["Title"] = "AboutUsView";
}

<h2>About Us</h2>
<br />
<div class="container about-us-container">
    <p>We have been running your local sports shop in Beaconsfield for over 30 years, starting in 1984 with wooden rackets, and have seen sports equipment progress whilst keeping up our knowledge and interest to help you personally.</p>

    <p>We are based in Beaconsfield, Buckinghamshire and offer a huge range of sports equipment in our well stocked shop. Our knowledge of sports and sporting goods enables us to advise on the best type of equipment to suit individuals and the sport they play. Whether professional, amateur or interested participant we will offer you the same in-depth service and at all times make sure you are happy with the items you purchase.</p>

    <p>
        TWe offer equipment for many sports, exercise and pastimes including:
        Archery, Badminton, Baseball, Basketball, Bowling, Boxing, Canoeing, Cricket, Croquet, Cycling, Darts, Fitness, Football, Golf accessories, Hand Ball, Hiking, Hockey, Judo and Karate, Kayaking, Netball, Petanque, Pilates, Pool, Racquetball, Rugby, Running, Skiing accessories, Snooker, billiards and pool, Squash, Swimming and water sports, Table Tennis, Tennis, Track and Field, Triathlon, Volleyball, Walking, Weight Lifting & weight training, Yoga.
    </p>

    <p>
        And from many sports equipment companies:
        Adidas, Nike, Reebok, Babolat, K Swiss, Yonex, Wilson, Head, Slazenger, Mitre, Under Armour, Canterbury, Greys, Gilbert, Asics, Speedo And many different sports goods:
        Rackets, Balls, Clothing, Shoes and boots, Trainers and footwear, Bags and luggage, Grips and overgrips, Shirts, Shorts, Socks, Hats, Accessories, Bats and sticks, Weights, Training equipment, Towels, Gloves, Helmets, Protective pads and guards, Sunglasses and eye wear, Stumps, wickets and hoops, Marking cones and training poles and much more….
    </p>

    <p>Our involvement in club activities and club professionals is well known across almost all sports which we see as an important relationship.</p>
</div>
