<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SportShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Stores" asp-action="Index">Stores</a>
                </li>
                @if (Context.Session.GetString("Admin") != null)
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">Manage Products</a>
                    </li>
                }
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav">
                @if (Context.Session.GetString("User") == null && Context.Session.GetString("Admin") == null)
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Register" asp-action="Index">Register</a>
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout, @Context.Session.GetString("UserFullName")</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer bg-dark">
    <div class="container">
        &copy; 2020 - SportShop - Best Prices In The Country
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>